@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  background-color: #1d1b1b;
  margin: 0;
  height: 100vh;
  font-family: 'Inter', 'sans-serif';
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  margin-top: 30px;
  background-color: #1e1e1e;
}

.title {
  color: white;
}

.run-code {
  background-color: green;
  align-self: center;
  color: white; 
  border: none;
  position: absolute;
  left: 50%;
  z-index: 99999;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.run-code.loading {
  color: #9b9b9b;
  padding: 10px 37px;
  font-size: 16px;
  background-color: #3d3d3d;
}

.run-code:hover {
  background-color: #0a7a0a;
}

.run-code.loading:hover {
  background-color: #505050;
}

.editor-config {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 10px;
  left: -100px;
  align-self: center;
}

.language-switcher, .theme-switcher {
  font-size: 16px;
  background-color: #3d3d3d;
  width: 50px;
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
}

.editor-switcher {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  transition: color 0.3s ease;
}

.editor-switcher i {
  font-size: 24px;
  color: #ddd;
  cursor: pointer;
}

.editor-switcher i:hover {
  color: #9b9b9b;
}

.editor-switcher-button {
  background: #333;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
  top: 2px;
  left: -50px; 
}


.theme-title {
  color: white;
}


.lngLogo {
  width: 25px;
  height: 25px;
}

.language-menu {
  display: none;
}

.editor-menu {
  display: none;
}

.language-menu.show, .editor-menu.show {
  display: flex;
  position: fixed;
  right: 50px; 
  flex-direction: column;
  gap: 10px;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  z-index: 9999;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.editor-menu.show {
  right: 225px;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
  border-radius: 4px;
}

.menu-item .version {
  font-size: 0.8em;
  color: #888;
  margin-left: 8px;
}

.menu-item:hover {
  background: #9b9b9b;
  color: #fff;
  transform: translateX(5px);
}

.menu-item:hover .version {
  color: #333;
}

.spinner {
  width: 15px;
  height: 15px;
  border: 4px solid rgba(255, 255, 255, 0.2); /* Светло-серый фон */
  border-top: 4px solid white; /* Белая верхняя часть */
  border-radius: 50%;
  animation: spin 0.5s linear infinite; /* Быстрее и плавнее */
}

.spinner-icon {
  display: none;
}

/* Анимация вращения */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

  
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  height: 75vh;
  gap: 10px;
}
  
.editor, .output {
  display: flex;
  width: 50%; 
  height: 60vh; 
  background-color: #1e1e1e; 
  border-radius: 15px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.output {
  display: block;
  white-space: pre-line;
  position: relative;
  color: white;
  width: 40%;
  opacity: 0.9;
}

.output.error {
  color: red;
}

.output-extra {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.output p {
  padding: 0;
  margin: 0;
}

.reset-button, .execution-time {
  font-size: 0.8rem;
  color: white;
}

.reset-button {
  padding: 4px 8px;
  background-color: transparent; 
  color: #fff; 
  cursor: pointer;
  border: none; 
  box-shadow: none; 
  outline: none; 
}

.reset-button:hover, .theme-switcher:hover {
  color: #9b9b9b;
}

.theme-switcher:hover {
  background-color: #505050;
}

.language-switcher:hover {
  filter: grayscale(80%);
  background-color: #505050;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: black;
}

.info p, .info span {
  color: white;
}

.tagline {
  align-self: center;
  font-size: 12px;
}

.github-button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 8px 15px;
  background-color: #181818;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s ease;
  position: relative;
}

.github-button i {
  font-size: 24px;
}

.github-button:hover {
  background-color: #444;
}

.github-button .tooltip {
  visibility: hidden;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 5px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.github-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.monaco-editor:focus-within {
  outline: none !important;
  border: none !important;
}

.monaco-editor .scroll-decoration {
  box-shadow: none !important;
  background: none !important;
  opacity: 0 !important;
}

.editor.twilight, .output.twilight {
  background-color: #141414
}

.editor.github-dark, .output.github-dark {
  background-color: #24292e
}

.editor.briliance-dull, .output.briliance-dull {
  background-color: #050505FA;
}

.editor.tomorrow-night, .output.tomorrow-night {
  background-color: #2D2D2D;
}

/*/ Main Page Light Theme /*/

.editor.vs-light, .editor.active4d, .editor.github-light, .editor.chrome-devtools, .editor.tomorrow {
  background-color: #fff
}

.output.vs-light, .output.active4d, .output.github-light, .output.chrome-devtools, .output.tomorrow {
  color: black;
  background-color: #fff;
}

.output.vs-light.error, .output.active4d.error, .output.github-light.error, .output.chrome-devtools.error, .output.tomorrow.error {
  color: red;
}

.output.vs-light .output-extra .execution-time {
  color: black;
}

.output.vs-light .output-extra .reset-button {
  color: black;
}

.output.vs-light .output-extra .reset-button:hover {
  color: rgb(78, 78, 78);
}

.output.vs-light .spinner {
  border-top: 4px solid black;
}

.output.active4d .output-extra .execution-time {
  color: black;
}

.output.active4d .output-extra .reset-button {
  color: black;
}

.output.active4d .output-extra .reset-button:hover {
  color: rgb(78, 78, 78);
}

.output.active4d .spinner {
  border-top: 4px solid black;
}

.output.github-light .output-extra .execution-time {
  color: black;
}

.output.github-light .output-extra .reset-button {
  color: black;
}

.output.github-light .output-extra .reset-button:hover {
  color: rgb(78, 78, 78);
}

.output.github-light .spinner {
  border-top: 4px solid black;
}

.output.chrome-devtools .output-extra .execution-time {
  color: black;
}

.output.chrome-devtools .output-extra .reset-button {
  color: black;
}

.output.chrome-devtools .output-extra .reset-button:hover {
  color: rgb(78, 78, 78);
}

.output.chrome-devtools .spinner {
  border-top: 4px solid black;
}

.output.tomorrow .output-extra .execution-time {
  color: black;
}

.output.tomorrow .output-extra .reset-button {
  color: black;
}

.output.tomorrow .output-extra .reset-button:hover {
  color: rgb(78, 78, 78);
}

.output.tomorrow .spinner {
  border-top: 4px solid black;
}

body.light {
  background-color: #f0f0f0;
}

body.light .spinner {
  border-top: 4px solid black;
}

.header.light {
  background-color: white;
}

.header.light .title {
  color: black;
}

.header.light .run-code {
  background-color: rgb(0, 156, 0);
  color: black;
}

.header.light .run-code.loading {
  background: #656565;
  color: #ababab;
}

.header.light .editor-config .editor-switcher-button {
  background: rgb(233, 233, 233);
}

.header.light .editor-config .editor-switcher-button .theme-title {
  color: black;
}

.header.light .editor-config .editor-switcher-button .editor-switcher i {
  color: black;
}

.header.light .editor-config .editor-switcher-button .editor-switcher i:hover {
  color: rgb(78, 78, 78);
}

.header.light .editor-config .theme-switcher {
  background: rgb(233, 233, 233);
}

.header.light .editor-config .theme-switcher i {
  color: black;
}

.header.light .editor-config .theme-switcher:hover {
  background: rgb(171, 171, 171);
}

.header.light .editor-config .language-switcher {
  background: rgb(233, 233, 233);
}

.header.light .editor-config .language-switcher:hover {
  background: rgb(171, 171, 171);
}